<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">Front-End Dev / Design</li>
          <li>adrian_lo@msn.com</li>
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/AdrianLuo" rel="nofollow external" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>https://github.com/AdrianLuo</a>
          </li>
          <li><a href="https://www.linkedin.com/in/adrianluo/" rel="nofollow external" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>https://www.linkedin.com/in/adrianluo/</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>