<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.data[page.data].title}}</title>
  <meta name="description" content="Projects" />
  <link rel="canonical" href="/" />
  <!-- SEO -->
  <meta property="og:locale" content="en_CA" />
  <meta property="og:title" content="Adrian" />
  <meta property="og:description" content="Projects" />
  <meta property="og:url" content="/" />
  <meta property="og:site_name" content="Adrian Luo" />
  <meta name="twitter:card" content="Projects" />
  <meta property="twitter:title" content="Adrian Luo" />
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- Scripts -->
  <script type="text/javascript" language="JavaScript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" language="JavaScript" src="/assets/js/app.js"></script>
</head>