html {
	width: 100%;
	height: 100%;
	padding: 4%;
	box-sizing: border-box;
	background: url('bg.jpg') no-repeat center;
	background-size: cover;
	font-family: proxima-soft, Verdana, sans-serif;
	color: #fff;
}
.hidden {
	display: none !important;
}
header {
	display: block;
	margin-bottom: 8%;
}
.logo {
	max-width: 200px;
}
body {
	margin: 0;
}
.contentWrapper {
	width: 100%;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;
}
h1 {
	font-family: 'Permanent Marker', Impact, sans-serif;
	font-size: 50px;
	line-height: 1.2;
	letter-spacing: 2px;
}
p {
	font-size: 24px;
	line-height: 1.4;
	font-weight: 300;
}
.signup-form {
	display: block;
}
#mc_embed_signup label, #mc_embed_signup #mce-responses {
	position: absolute;
	opacity: 0;
	left: -100px;
}
#mc_embed_signup .mc-field-group {
	display: inline-block;
	width: 65%;
	box-sizing: border-box;
	margin-right: 4%;
}
#mc_embed_signup input[type=email] {
	font-family: proxima-soft, Verdana, sans-serif;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	line-height: 2;
	font-weight: 300;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(255,255,255, 1);
	margin-bottom: -1px;
	background: transparent;
	transition: ease 400ms;
	/*background: center bottom no-repeat,center calc(0%);
	background-image: linear-gradient(to top,#F98442 1px,rgba(255,255,255,0) 1px),linear-gradient(to top,#fff0 1px,rgba(255,255,255,0) 1px);
	background-size: 0 100%,100% 100%;
	transition: ease 400ms;*/
}
#mc_embed_signup input[type=email]::placeholder {
	color: #fff;
	opacity: 1;
}

#mc_embed_signup input[type=email]:hover,
#mc_embed_signup input[type=email]:focus,
#mc_embed_signup input[type=email]:active {
	outline: none;
	border-bottom: 1px solid rgba(249,132,66, 1);
	background-size: 100% 100%,100% 100%;
}

#mc_embed_signup input[type=submit] {
	font-family: proxima-soft, Verdana, sans-serif;
	display: inline-block;
	width: 30%;
	font-size: 20px;
	line-height: 1.1;
	font-weight: 300;
	background-color: #F98442;
    border: none;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 5%;
    text-align: center;
    cursor: pointer;
    transition: ease 400ms;
    vertical-align: top;
}
#mc_embed_signup input[type=submit]:hover,
#mc_embed_signup input[type=submit]:focus,
#mc_embed_signup input[type=submit]:active {
	background-color: #ff9f6a;
}