@charset "UTF-8";
/*@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400,800&family=Manrope:wght@300;600;800&display=swap");*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/************* Common Classes *************/
/* Typography */
.fw-light {
  font-weight: 300;
}

.fw-semi {
  font-weight: 600;
}

.fw-xbold {
  font-weight: 800;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #DDDDDD;
}

.nowrap {
  white-space: nowrap;
}

/* Horizontal Clear */
.clear {
  clear: both;
}

/* Vertical Bar Separator */
span.sep {
  display: inline-block;
  margin: 0 10px;
}

/* Floats */
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.marginAuto {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Text Align */
.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

/* Text Align - SM Desktop+ */
@media screen and (min-width: 768px) {
  .left-sm {
    text-align: left !important;
  }

  .right-sm {
    text-align: right !important;
  }

  .center-sm {
    text-align: center !important;
  }
}
/* Margin */
.first {
  margin-top: 0 !important;
}

.last {
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* Padding */
.no-pad {
  padding: 0 !important;
}

.no-pad-l {
  padding-left: 0 !important;
}

.no-pad-r {
  padding-right: 0 !important;
}

/* Spacer */
.spacer {
  display: block;
  height: 20px;
}

/* Padding Spacer */
.pad.top15 {
  padding-top: 15px;
}
.pad.top30 {
  padding-top: 30px;
}
.pad.bot15 {
  padding-bottom: 15px;
}
.pad.bot30 {
  padding-bottom: 30px;
}

/* Margin Spacer */
.margin.top15 {
  margin-top: 15px;
}
.margin.top30 {
  margin-top: 30px;
}
.margin.bot15 {
  margin-bottom: 15px;
}
.margin.bot30 {
  margin-bottom: 30px;
}

/* Links / Buttons */
a, button {
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* Anchors */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -110px;
}
a.anchor.top-of-page {
  top: -180px;
}
a.anchor.offset-90 {
  top: -90px;
}
a.anchor.offset-80 {
  top: -80px;
}
a.anchor.offset-70 {
  top: -70px;
}
a.anchor.offset-60 {
  top: -60px;
}
a.anchor.offset-50 {
  top: -50px;
}
a.anchor.offset-40 {
  top: -40px;
}

@media (max-width: 767px) {
  a.anchor {
    top: -120px;
  }
  a.anchor.offset-90, a.anchor.offset-80, a.anchor.offset-70, a.anchor.offset-60, a.anchor.offset-50, a.anchor.offset-40 {
    top: -100px;
  }
}
/* Responsive Videos */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  border: 0 none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Div Table */
.table {
  color: #666666;
  max-width: none;
}
.table .table-row .desktop-th {
  background-color: #808284;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.2em;
  padding: 10px 15px;
}
.table .table-row .table-data .icon-tools {
  display: none;
  position: absolute;
}
.table .table-row:hover .table-data .icon-tools {
  display: inline-block;
  padding-left: 10px;
}
.table .table-row .table-footer {
  background-color: #808284;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.2em;
  padding: 10px 15px;
}
.table .table-row .mobile-th {
  background-color: #808284;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.2em;
  padding: 15px;
  margin-bottom: 15px;
}

.table-scroll-wrapper {
  height: 400px;
  overflow: auto;
  border: solid 1px #DDDDDD;
}
.table-scroll-wrapper .table {
  margin: 0;
}
.table-scroll-wrapper .table .table-row:last-child .table-data {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .table {
    display: table;
    margin-bottom: 30px;
  }
  .table .table-row {
    display: table-row;
  }
  .table .table-row .desktop-th {
    display: table-cell;
    vertical-align: middle;
  }
  .table .table-row .table-data {
    display: table-cell;
    padding: 10px 15px;
    border-bottom: solid 1px #dddddd;
  }
  .table .table-row .table-footer {
    display: table-cell;
    vertical-align: middle;
  }
  .table .table-row .mobile-th {
    display: none;
  }
  .table.table-row.alt-row .table-data:nth-child(odd) {
    background-color: #F5F5F5;
  }
}
@media screen and (max-width: 767px) {
  .table {
    background-color: #F5F5F5;
  }
  .table .table-row .desktop-th {
    display: none;
  }
  .table .table-row .table-data {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .table .table-row .table-data span {
    font-weight: 800;
  }
}
/* IE10,11 Fixes */
select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

html {
  font-size: 62.5%;
}
html h1, html h2, html h3, html h4, html h5, html p, html li, html address, html span, html div, html .h1, html .h2, html .h3, html .h4, html .h5 {
  font-family: "Manrope", sans-serif;
  color: #555555;
}

body {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  padding: 0;
}

h1, .h1 {
  font-size: 4.2rem;
  line-height: 1.2;
}

h2, .h2 {
  font-size: 3.4rem;
  line-height: 1.4;
}

h3, .h3 {
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1.4;
}

h4, .h4 {
  font-size: 2rem;
  line-height: 1.4;
}

h5, .h5 {
  font-size: 1.6rem;
  line-height: 1.4;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 0 15px;
}
p:last-child {
  margin-bottom: 0;
}

li, span, address {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: #0651A0;
}

.heading {
  color: #0651A0;
  margin-bottom: 30px;
}

.intro {
  font-size: 2.2rem;
  line-height: 1.6;
  color: #555555;
  max-width: 750px;
  margin: 0 auto 9%;
}
.intro > a {
  font-weight: 600;
}

.button {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #0651A0;
  text-transform: uppercase;
  background-color: transparent;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.button:hover, .button:focus, .button:active {
  text-decoration: none;
}
.button:not(.link) {
  border: 1px solid #0651A0;
  padding-top: 12px;
  padding-bottom: calc(12px - 0.05em);
  padding-left: 25px;
  padding-right: 25px;
}
.button:not(.link):hover, .button:not(.link):focus, .button:not(.link):active {
  background-color: #0651A0;
  color: #FFFFFF;
}
.button.white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button.white:hover, .button.white:focus, .button.white:active {
  background-color: #0651A0;
  border: 1px solid #0651A0;
}
.button.btn-solid {
  color: #FFFFFF;
  background-color: #0651A0;
}
.button.btn-solid:hover, .button.btn-solid:focus, .button.btn-solid:active {
  background-color: transparent;
  color: #0651A0;
}
.button.btn-solid.white {
  color: #0651A0;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button.btn-solid.white:hover, .button.btn-solid.white:focus, .button.btn-solid.white:active {
  background-color: transparent;
  color: #FFFFFF;
}
.button.link:hover, .button.link:focus, .button.link:active {
  color: #0A78CD;
}

#main-content ul {
  list-style: disc;
  padding-left: 30px;
}
#main-content section.block {
  padding-top: 6%;
  padding-bottom: calc(6% - 40px);
  background-repeat: repeat;
}

header {
  padding-top: 12px;
  padding-bottom: 30px;
}
header .logo-wrapper {
  display: flex;
  align-items: center;
}
header .logo-wrapper .logo {
  float: left;
}
header .logo-wrapper .logo img {
  float: left;
  width: 100%;
  max-width: 309px;
}
header nav.navbar {
  justify-content: flex-end;
  padding: 0;
}
header nav.navbar li.nav-item {
  margin: 0;
  display: flex;
  align-items: center;
}
header nav.navbar li.nav-item a.nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0651A0;
}
header nav.navbar li.nav-item a.nav-link.button {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: calc(8px - 0.15em);
}
header nav.navbar li.nav-item:first-child a.nav-link {
  margin-left: 0 !important;
}
header nav.navbar li.nav-item:last-child a.nav-link {
  margin-right: 0 !important;
}
header nav.navbar#global-nav {
  padding-bottom: 17px;
}
header nav.navbar#global-nav * {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.08em;
}
header nav.navbar#main-nav * {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
header nav.navbar#main-nav > ul.navbar-nav {
  border-top: 1px solid #CDDCEC;
}
header nav.navbar#main-nav > ul.navbar-nav > li.nav-item > a.nav-link {
  padding-top: 13px;
  padding-bottom: 15px;
  margin-right: 40px;
  border-top: 2px solid transparent;
}
header nav.navbar#main-nav > ul.navbar-nav > li.nav-item > a.nav-link.navSelected {
  border-color: #8DC640;
}
header nav.navbar#main-nav .dropdown > a:after {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "";
  color: #8DC640;
  margin-left: 5px;
}
header nav.navbar#main-nav .dropdown .dropdown-menu {
  background-color: #E6EEF5;
  border: none;
  border-radius: 0;
  margin-top: -5px;
  min-width: calc(100% - 40px);
}
header nav.navbar#main-nav .dropdown .dropdown-menu a.dropdown-item {
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 600;
  color: #0651A0;
  text-transform: uppercase;
  text-align: center;
}
header nav.navbar#main-nav .dropdown .dropdown-menu a.dropdown-item:hover, header nav.navbar#main-nav .dropdown .dropdown-menu a.dropdown-item:focus, header nav.navbar#main-nav .dropdown .dropdown-menu a.dropdown-item:active {
  background-color: #0651A0;
  color: #FFFFFF;
}
header nav.navbar#main-nav .dropdown:hover .dropdown-menu, header nav.navbar#main-nav .dropdown:focus .dropdown-menu, header nav.navbar#main-nav .dropdown:active .dropdown-menu {
  display: block;
}
header .country-id {
  position: relative;
  display: flex;
  align-items: center;
}
header .country-id label {
  width: 23px;
  height: 23px;
  border: 1px solid #0651A0;
  border-radius: 23px;
  background-size: cover;
}
header .country-id label.flag__ca {
  background-image: url("/images/flag_ca.png");
}
header .country-id select {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #0651A0;
  border: none;
  padding: 5px 20px 5px 10px;
  background-color: transparent;
  background-image: url("/images/caret-down.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.mobile-menu-btn {
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 100;
  padding: 10px 15px 15px;
}
.mobile-menu-btn .hamburger-box {
  width: 30px;
  height: 2px;
}
.mobile-menu-btn .hamburger-box .hamburger-inner {
  width: 30px;
  height: 2px;
}
.mobile-menu-btn .hamburger-box .hamburger-inner:before, .mobile-menu-btn .hamburger-box .hamburger-inner:after {
  width: 30px;
  height: 2px;
}

@media screen and (min-width: 992px) {
  .mobile-menu-btn {
    display: none;
  }
}
footer {
  background-color: #353535;
}
footer a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
footer a:hover, footer a:focus, footer a:active {
  text-decoration: none;
  color: #00AFC1;
}
footer .footer__top {
  padding-top: 40px;
  padding-bottom: 25px;
}
footer .footer__top * {
  color: #FFFFFF;
}
footer .footer__top h3 {
  font-family: "Assistant", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #00AFC1;
  text-transform: uppercase;
  margin-bottom: 15px;
}
footer .footer__top h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-transform: inherit;
  margin-bottom: inherit;
}
footer .footer__top ul.nav {
  display: flex;
  flex-flow: column;
}
footer .footer__top ul.nav > li {
  margin: 0 0 5px;
}
footer .footer__top ul.nav > li > a {
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
footer .footer__top ul.nav > li > a:before {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "";
  color: #00AFC1;
  margin-right: 10px;
}
footer .footer__top .post .post_date {
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .footer__top .post .post_title {
  margin-bottom: 15px;
}
footer .footer__top .post .post_excerpt {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 15px;
}
footer .footer__top .post .post_link {
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
footer .footer__top .post .post_link:after {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "";
  margin-left: 10px;
}
footer .footer__bottom {
  background-color: #464646;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer__bottom * {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #A8A8A8;
}
footer .footer__bottom .footer-nav {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
footer .footer__bottom .footer-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer .footer__bottom .footer-nav ul > li {
  display: inline-block;
}
footer .footer__bottom .footer-nav ul > li:not(:last-child) {
  margin-right: 25px;
}

.page-banner {
  display: flex;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-banner.banner__home {
  max-height: 600px;
}
.page-banner.banner__home h1 {
  margin-top: 0;
  color: #0651A0;
}
.page-banner.banner__home .intro-text {
  font-size: 2.2rem;
  font-weight: 300;
  color: #555555;
  margin-bottom: 30px;
}
.page-banner.banner__home a.button {
  margin-right: 20px;
}
.page-banner.banner__interior {
  max-height: 200px;
}
.page-banner.banner__interior .row {
  justify-content: center;
}
.page-banner.banner__interior h1 {
  color: #FFFFFF;
  text-align: center;
}

.cta {
  background-color: #FFFFFF;
}
.cta ul {
  list-style: url("/images/chevron-right.svg") !important;
}
.cta ul li {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
.cta hr {
  border-color: #E6EEF5;
  border-width: 2px;
}
.cta .button:after {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "";
  color: #8DC640;
  margin-left: 10px;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  transition: ease 300ms;
}
.cta .button.link:hover:after, .cta .button.link:focus:after, .cta .button.link:active:after {
  margin-left: 20px;
}
.cta.cta-lg, .cta.cta-lg-right {
  display: flex;
  align-items: center;
  min-height: 343px;
  padding: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.cta.cta-lg .cta__content, .cta.cta-lg-right .cta__content {
  padding: 40px 60px 40px 40px;
  width: 52%;
}
.cta.cta-lg .cta__content h4, .cta.cta-lg-right .cta__content h4 {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.005em;
  color: #0651A0;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cta.cta-lg .cta__content p, .cta.cta-lg-right .cta__content p {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
  color: #464646;
}
.cta.cta-lg .cta__content hr, .cta.cta-lg-right .cta__content hr {
  max-width: 240px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cta.cta-lg .cta__img, .cta.cta-lg-right .cta__img {
  width: 48%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cta.cta-lg-right {
  flex-direction: row-reverse;
}
.cta.cta-lg-right .cta__content {
  padding: 40px 40px 40px 60px;
}
.cta.cta-md {
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.cta.cta-md img {
  width: 120px;
  max-width: 100%;
}
.cta.cta-md h4 {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.005em;
  color: #0651A0;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cta.cta-md p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.cta.cta-md hr {
  max-width: 292px;
}
.cta.cta-sm {
  height: calc(100% - 40px);
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #CDDCEC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  transition: ease 300ms;
}
.cta.cta-sm img {
  width: 120px;
  max-width: 100%;
  margin: 0 auto;
}
.cta.cta-sm h4 {
  font-size: 2.4rem;
  letter-spacing: 0.005em;
  color: #0651A0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cta.cta-sm p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.cta.cta-sm ul {
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}
.cta.cta-sm .button {
  width: fit-content;
  margin: 15px auto 0;
}
.cta.cta-sm .button:after {
  color: #0651A0;
  font-weight: 400;
}
.cta.cta-sm .button:hover:after, .cta.cta-sm .button:focus:after, .cta.cta-sm .button:active:after {
  color: #FFFFFF;
}
.cta.cta-sm:hover, .cta.cta-sm:focus, .cta.cta-sm:active {
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.cta.cta-register {
  border-bottom: 30px solid #00AFC1;
  min-height: 334px;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cta.cta-register.register__lg {
  margin-left: -15px;
  margin-right: -15px;
}
.cta.cta-register:not(.register__lg) {
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 40px;
}
.cta.cta-register:not(.register__lg) .cta__content h4 {
  max-width: 440px;
}
.cta.cta-register .cta__content {
  width: 100%;
  max-width: 980px;
  padding: 30px 15px;
  margin: 30px auto 0;
}
.cta.cta-register .cta__content h4 {
  font-size: 2.6rem;
  color: #FFFFFF;
  max-width: 460px;
  margin-bottom: 30px;
}
.cta.cta-register .cta__content .button {
  color: #FFFFFF;
  margin-right: 15px;
}
.cta.cta-register .cta__content .button:hover, .cta.cta-register .cta__content .button:focus, .cta.cta-register .cta__content .button:active {
  color: #00AFC1;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.cta.cta-register .cta__content .button.btn-solid {
  color: #00AFC1;
}
.cta.cta-register .cta__content .button.btn-solid:hover, .cta.cta-register .cta__content .button.btn-solid:focus, .cta.cta-register .cta__content .button.btn-solid:active {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
}
.cta.cta-register .cta__content .button:after {
  display: none;
}
.cta.cta-product {
  height: calc(100% - 40px);
  padding: 20px 30px 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #CDDCEC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  transition: ease 300ms;
}
.cta.cta-product img {
  width: 120px;
  max-width: 100%;
  margin: 0 auto;
}
.cta.cta-product h3 {
  font-family: "Assistant", sans-serif;
  font-size: 5.2rem;
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(13, 43, 74, 0.5);
  background-image: url("/images/bg-pattern.png");
  background-repeat: repeat;
  background-color: #00AFC1;
  padding-left: 38px;
  position: relative;
  left: -48px;
  width: calc(100% + 60px);
}
.cta.cta-product h3:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid #00818F;
  border-left: 18px solid transparent;
  position: absolute;
  bottom: -18px;
  left: 0;
}
.cta.cta-product h4 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #00818F;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cta.cta-product p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.cta.cta-product .button {
  width: fit-content;
  margin-top: 15px;
}
.cta.cta-product .button:after {
  color: #0651A0;
  font-weight: 400;
}
.cta.cta-product .button:hover:after, .cta.cta-product .button:focus:after, .cta.cta-product .button:active:after {
  color: #FFFFFF;
}
.cta.cta-product:hover, .cta.cta-product:focus, .cta.cta-product:active {
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.accordion {
  margin-bottom: 40px;
}
.accordion h3 button {
  font-family: "Assistant", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #0651A0;
  text-align: left;
  padding: 0 0 0 46px;
  position: relative;
}
.accordion h3 button:before {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
}
.accordion h3 button.collapsed {
  color: #555555;
}
.accordion h3 button.collapsed:before {
  content: "";
}
.accordion h3 button:hover, .accordion h3 button:focus, .accordion h3 button:active {
  text-decoration: none;
}
.accordion .card {
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #E6EEF5 !important;
}
.accordion .card:not(:first-child) {
  padding-top: 15px;
}
.accordion .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.accordion .card .card-body {
  font-size: 1.6rem;
  padding: 15px 0 15px 46px;
}
